spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gitinsight
    username: gitinsight
    password: secret
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

server:
  port: 8080